* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.follow img {
    width: 15px
}

#copy-to-clipboard img {
    width: 20px
}

body {
    font-family: sans-serif;
    background: #20212f;
    color: #fff
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5)
}

.logo {
    font-size: 20px;
    color: #0ff;
    text-transform: capitalize
}

header a img {
    width: 25px
}

main {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    margin-top: 5rem;
    position: relative
}

.parameters {
    background: #232431;
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #464646
}

.parameters h3 {
    text-align: center;
    color: #b3b3b3;
    margin: 1.5rem 0;
    margin-top: .5rem
}

.optns {
    display: flex;
    justify-content: center;
    gap: 2rem
}

.background>div, .card-params>div {
    margin: 1rem 0
}

hr {
    border: none;
    border-bottom: 1px solid #464646
}

input[type=radio] {
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
    transition: all .5s
}

label {
    cursor: pointer
}

input[type=radio]:checked~label {
    color: #0ff
}

#bg-grndt {
    display: none
}

.clr-inputs {
    text-align: center
}

.switch-icon {
    width: 12px
}

.parameters input[type=color], .parameters input[type=text] {
    width: 100%;
    height: 40px;
    background: #28273b;
    margin: .5rem 0;
    padding: 0 2px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #464646
}

.parameters input[type=text] {
    padding: 0 1rem;
    font-size: 14px;
    color: #fff
}

.parameters input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    height: 5px;
    background: #0ff;
    margin: .8rem auto;
    display: block;
    border-radius: 50px
}

.parameters input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url('settings.png');
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer
}

.card-params p {
    margin-top: .5rem
}

.card-params .top {
    display: flex;
    justify-content: space-between
}

.card-params .top p:nth-of-type(2) {
    font-size: 12px;
    letter-spacing: 1px;
    color: #0ff
}

.output {
    background-image: url('https://images.unsplash.com/photo-1635194492292-408267b7e2f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
    background-color: #111928;
    width: 50%;
    display: flex;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.card {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1rem;
    max-width: 30rem;
    backdrop-filter: blur(13px) saturate(120%);
    -webkit-backdrop-filter: blur(13px) saturate(120%);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .125);
    position: relative;
    z-index: 1
}

.output_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .2)
}

.profile {
    width: 100px;
    height: 100px;
    background-image: url(../assets/profile.jpg);
    background-size: cover;
    background-position: center top;
    border-radius: 50%;
    position: relative;
    margin-bottom: 1.5rem
}

.profile::before {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.name {
    margin-bottom: 1rem;
    mix-blend-mode: difference
}

.card p {
    mix-blend-mode: difference
}

.follow {
    background: #0ff;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer
}

.code {
    width: 25%;
    overflow: hidden;
    background: #232431;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #464646;
    display: flex;
    flex-direction: column
}

.css-code {
    overflow: scroll;
    flex: 1
}

.css-code::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

.css-code::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 50px
}

.css-code::-webkit-scrollbar-corner {
    display: none
}

.code-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: .5rem;
    border-bottom: 1px solid #fff;
    color: #b3b3b3
}

.css-code p {
    margin-left: 20px;
    white-space: nowrap
}

.css-code p.comment {
    margin-left: 0;
    margin: 1rem 0
}

.css-code .card-el p:nth-of-type(1), .css-code .parent-el p:nth-of-type(1) {
    margin-left: 0;
    margin-bottom: .5rem
}

.css-code .card-el p:last-of-type, .css-code .parent-el p:last-of-type {
    margin-left: 0;
    margin-top: .5rem
}

#copy-to-clipboard img {
    width: 15px
}

#copy-to-clipboard {
    background: 0 0;
    border: none;
    cursor: pointer
}

#copy-to-clipboard:hover {
    transform: scale(1.1)
}

.code_bgimg_gradient, .code_url {
    display: none
}

.code_bgimg_gradient.active, .code_url.active {
    display: inline-block
}

.parent-element {
    background-image: url('https://images.unsplash.com/photo-1635194492292-408267b7e2f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80')
}

.card {
    backdrop-filter: blur(13px) saturate(120%);
    -webkit-backdrop-filter: blur(13px) saturate(120%);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .125)
}

footer{
    background: rgba(255, 255, 255, 0.02);

    margin-top: 15vh;
    padding: 2rem 0;
    padding-bottom: 0;

    background-image: url('https://images.unsplash.com/photo-1597589827703-f4b68eafa0ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1072&q=80');
    background-size: cover;
    background-position: center;
    
    clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 10%, 50% 0);
}

.credit{
    max-width: max-content;
    margin: 2rem auto;

    position: relative;
    margin-top: 5rem;
}

.glass{
    width: 600px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);  
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);   

    padding: 1rem;
}

.credit::before,
.credit::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);  
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);   

    box-shadow: 0 0 10px 1px  #000;
    left: -55px;
    top: -45px;
    border-radius: 10px;
    z-index: 10;

    animation: bounce 4s alternate-reverse infinite;
}

.credit::after{
    top: auto;
    left: auto;
    right: -65px;
    bottom: -65px;

    border-radius: 50%;

    z-index: -1;

    width: 150px;
    height: 150px;

    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);  
    background-color: rgba(0, 26, 255, 0.1);
    box-shadow: -20px -20px 50px 0  rgba(0, 38, 255, 0.5);
}

@keyframes bounce {
    from{
        transform: translate(0,0);
    }    
    to{
        transform: translate(10px, -5px);
    }
}

.credit .top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.credit .top h1{
    margin-bottom: .5rem;
}

.credit .text p{
    margin: 1rem 0;
    line-height: 1.5;
}

.credit .text button{
    background: cyan;
    padding: .8rem 1rem;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 400ms;
}

a{
    text-decoration: none;
    color: white;
}

.credit .text button:hover{
    background: none;
    border: 2px solid cyan;
}

.credit .top p{
    text-transform: uppercase;
    opacity: .4;
    letter-spacing: 1.5px;
}

.credit img{
    width: 100px;

    border-radius: 15px;
}

.social{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 2rem;
}

.social_links{
    position: relative;
    display: flex;

    width: 100px;
    height: 100px;
    background: rgb(43, 46, 71);
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
}

.social_links:hover{
    background: rgb(53, 57, 88);
}

.social_links span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0) scale(.5);

    color: rgb(0, 0, 0);
    background: white;
    box-shadow: 1px 1px 10px 0 #000;

    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;

    width: max-content;
    padding: 5px 10px;

    border-radius: 5px;

    opacity: 0;
    pointer-events: none;

    transition: 400ms ease;
}

.social_links:hover span{
    opacity: 1;
    transform: translate(-50%,-50%) rotate(-5deg) scale(1);
}

.social_links img{
    width: 50px;

    margin: auto;
}

.copyright{
    background: #20212f;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
    font-size: 14px;
    color: rgb(136, 136, 136);
}

@media screen and (max-width: 1024px) {
    main{
        flex-wrap: wrap;
    }    
    .parameters,
    .output{
        width: calc(50% - 1rem);
    }
    .code{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
    }    
    .parameters,
    .output,
    .code{
        width: 100%;
    }
}